@charset "UTF-8";

.Bodycss {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.my-div {
  border : 1px solid blue;
  text-align : center;
  padding : 100px 0;
}


.flex-container{
	display: flex;
	/*flex-direction: row;*/
	justify-content:space-evenly;
	max-width:40px;
	border:solid 3px #0f0;
	margin:50% auto;
}